<!--

    Copyright © 2013 Instituto Superior Técnico

    This file is part of FenixEdu IST CMS Components.

    FenixEdu IST CMS Components is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FenixEdu IST CMS Components is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with FenixEdu IST CMS Components.  If not, see <http://www.gnu.org/licenses/>.

-->
{% extends "fenixedu-units-theme/base.html" %}

{% block content %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ executionYear.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for executionYear in entries(executionYearsUrls) %}
            <li><a href='{{ executionYear.value }}'>{{ executionYear.key.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for scientificAreaUnit in scientificAreaUnits %}
        {% if scientificAreaUnit.hasCompetenceCourses %}
            <h2><small>{{ scientificAreaUnit.name.content }}</small></h2>
            {% for competenceCourseGroupUnit in scientificAreaUnit.competenceCourseGroupUnits %}
                {% if competenceCourseGroupUnit.hasCompetenceCourses %}
                    <h3>{{ competenceCourseGroupUnit.name.content }}</h3>
                    <ul class="list-unstyled">
                        {% for competenceCourse in competenceCourseGroupUnit.competenceCourses %}
                            <li><a href="{{ competenceCourse.url }}">{{ competenceCourse.name.content }} ({{ competenceCourse.acronym }})</a></li>
                        {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock content %}